<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container nav-wrapper">

    <hr>
    <h1>Login ...</h1>


<hr>

        <form action="/accounts/login/" method="post">
            {% csrf_token %}
        <input type="text" name="username" placeholder="username"> <br>
        <input type="text" name="password" placeholder="password"> <br>
        <input type="submit" class="btn btn-info">
        </form>


       <div>
           {% for message in messages %}
           <h3> {{message}} </h3>
           {% endfor %}
       </div>


</div>

</body>
</html>