


<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
    <head>
         <title>      Aditya    </title>

    </head>

<body>

        {% load static %}
         <div class="container nav-wrapper">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <header>
             <h1>Chat App ...</h1>


     </header>


                   {% if user.is_authenticated %}

                        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                          <a class="navbar-brand" href="/chat/">Navbar</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>

                          </button>

                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                <a class="nav-link active" href="#">Hello, {{ user.first_name }}</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/accounts/logout/">Logout</a>
                              </li>
                                <li class="nav-item">
                                <a class="nav-link" href="/user_post/?username={{ user.first_name }}">Your Post</a>
                              </li>
                            </ul>

                            <form class="form-inline my-2 my-lg-0" action="" method="post">
                             {% csrf_token %}
                              <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                          </div>
                        </nav>



                         </div>
                   {% else %}
                         <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                          <a class="navbar-brand" href="/chat/">Navbar</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>

                          <div class="collapse navbar-collapse" id="navbarSupportedConten">
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                <a class="nav-link active" href="/accounts/login/">Login </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/accounts/register/"> Register </a>
                              </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">

                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                          </div>
                        </nav>

                         </div>
                        {% endif %}
{% block content %}


 {% endblock content %}
</body>
</html>