<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
 <div class="container nav-wrapper">

<hr>

    <form action="" method="post">
        {% csrf_token %}
           {{ form }}
          <p> <input type="submit" value="Update" class="btn btn-warning" /> </p>
    </form>


</div>
</body>
</html>